<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Compose</title>
</head>
<body>
    <form method="post" action="/hr/job-announcement">
        <label for="title"></label>
        <input type="text" placeholder="Enter Title" name="title">
        <label for="skills_required"></label>
        <input type="text" placeholder="Enter Skills required" name="skills_required">
        <label for="description"></label>
        <input type="text" placeholder="Enter description" name="description">
        <label for="salary"></label>
        <input type="text" placeholder="Enter salary" name="salary">
        <button type="submit">Post Job</button>
    </form>
</body>
</html>